<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeChatPro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>259F4EC61BCE24CC0046D761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>259F4EDF1BCE24CC0046D761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>259F4EEA1BCE24CC0046D761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
